* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2 {
  color: #FFF;
}

h3 {
  color: #999;
}
.user h1{
position: absolute;
  color: #330033;
  left: 100px;
  width: 40%;
}


h{
color: #330033;
font-weight: bolder;
}

.btn {
  background: #330033;
  color: #FFF;
  padding: 5px 10px;
  text-align: center; 
  border-radius: 5px;
  justify-content: space-between;
}

.btn:hover {
  color: #330033;
  background: white;
  padding: 3px 8px;
  border: 2px solid #330033;

}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}

table {
  padding: 10px;
}

th,
td {
  text-align: left;
  padding: 8px;
}






.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #330033;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #330033;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #330033;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #330033;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #330033;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #330033;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #330033;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}


.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}



.home-section{
  position: relative;
  background: #FFF;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #330033;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

.container {
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #330033;
  
}

.container .header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 10vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container .header .nav {
  width: 90%;
  display: flex;
  align-items: center;

}

.container .header .nav .search {
  flex: 3;
  display: flex;
  justify-content: center;
}

.container .header .nav .search input[type=text] {
  border: none;
  background: #FFF;
  padding: 10px;
  width: 50%;
} 

.container .header .nav .search button {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .header .nav .search button img {
  width: 30px;
  height: 30px;
  
}

.container .header .nav .user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.new-students{
border-radius: 20px;
}

.container .header .nav .user img {
  width: 40px;
  height: 40px;
  
}

.container .header .nav .user .img-case {
  position: relative;
  width: 50px;
  height: 50px;
}

.container .header .nav .user .img-case img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 10px 0 10px;
}

.recent-payments{
border-radius: 20px;
}

.container .content {
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
  background: #fff;
}

.container .content .cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
border-radius: 15px;
min-width: 270px;
}

.container .content .cards .card {
  width: 250px;
  height: 150px;
  background: #330033;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.container .content .content-2 {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
  min-height: 58vh;
  flex: 5;
  background: #FFF;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  display: flex;
  flex-direction: column;
}

.container .content .content-2 .new-students {
  flex: 2;
  background: #fff;
  min-height: 50vh;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  display: flex;
  flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1050px) {
  /* .side-menu li {
      font-size: 18px;
  } */
}

@media screen and (max-width: 940px) {
  /* .side-menu li span {
      display: none;
  }
  .side-menu {
      align-items: center;
  }
  .side-menu li img {
      width: 40px;
      height: 40px;
  }
  .side-menu li:hover {
      background: #f05462;
      padding: 8px 38px;
      border: 2px solid white;
  } */
}

@media screen and (max-width:680px) {

  .user h1{
    position: absolute;
    font-size: medium;
      color: #330033;
      left: 100px;
      width: 30%;
    }
    

  body{
      overflow-x: hidden;
  }
  .brand-name h1 {
      font-size: 13px;
  }

 
  .container .content .cards {
      justify-content: center;
  }
  .sidebar li .tooltip{
      display: none;
    }
  /* .side-menu li img {
      width: 30px;
      height: 30px;
  } */
  .container .content .content-2 .recent-payments table th:nth-child(2),
  .container .content .content-2 .recent-payments table td:nth-child(2) {
      display: none;
  }
}