*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

.hero{
    width: 100;
    height: 100vh;
    background-image: url('../images/pexels-anni-roenkae-5853340.jpg');
    background-size: cover;
    background-position: center;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height:20%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button{
    color:white;
    padding: 10px 25px;
    background: linear-gradient(90deg,#D7BDE2,#7635C8);
    display: inline-block;
     /* border: 1px solid #fff;  */
    font-weight: bold; 
    font-size:medium;
    border: 2pX linear-gradient(90deg,#D7BDE2,#330033);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    /* transition: 1s; */
    border: none;

}


.content{
    color: white;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    font-size:40px ;

}


h1{
    font-size: 70px;
    margin: 10px 0 30px;
    line-height: 80px;
}




@media screen and (max-width:600px){
    h1{
        font-size: 56px;
    }
    
}