*{
    box-sizing: border-box;
}

#coin-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 550px;
}

.container-11{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 5px;
    background-color: #fff;
    border: none;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    display: inline;
    margin: 20px 20px 20px 30px;
    width: 200px;
    height: 30px;
    border: 2px solid #330033;
    border-radius: 0.3em;
    background-color: rgb(243, 237, 237);
    text-align: center;
    padding: 0px 20px 0px 20px;
}

label{
    display: block;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}

#open-popup{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: #330033;
    color: #fff;
    font-weight: bold;
}

#open-popup:hover{
    background-color: #5f085f;
}

#sname{
    display: inline;
}

@media screen and (max-width:680px)  {
    body{
        padding-left: 150px;
    }

    .container-11{
        left: 60%;
    }
    
}