*{
    box-sizing: border-box;
}

body{
    background-color: #9F73AB;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#email-id{
    position: relative;
    left: 40px;
}

.container-11{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 490px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container-11 img{
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

ul{
    padding: 0px;
}

.name{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

.desc{
    margin: 15px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
