<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/createClub.css">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="style.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title> 
</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Club registration  Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Club Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Club Admin</label>
                            <input type="text" placeholder="Enter admin name" required>
                        </div>

                      
                        <div class="input-field">
                            <label>Number of members</label>
                            <input type="number" placeholder="Enter number of members" required>
                        </div>

                        <div class="input-field">
                            <label>Club type</label>
                            <select required>
                                <option disabled selected>Select Type</option>
                                <option>Technical</option>
                                <option>Enterteinment</option>
                                <option>Others</option>
                            </select>
                        </div>

                      
                    </div>
                </div>

                <div class="pain">
                    <span class="title">Describe Your Club </span>

                   

                        <div class="input-field">
                            <!-- <label>Club description</label> -->
                            <!-- <input type="textarea" placeholder="description" required> -->
                            <textarea name="" id="" cols="70" rows="8"></textarea>
                        </div>

                     
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Register Club</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            
            </div>
        </form>
    </div>

    
</body>
</html>