<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/createClub.css">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="style.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="profile.css">
    <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
     <link rel="icon" href="../static/images/Camplus-logo.png">
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
     <link rel="stylesheet" href="../static/css/clubAdm.css">
     <link rel="stylesheet" href="./sty.css">

    <title>Cam[PLUS] | Create Club </title> 
</head>
<body>


    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">Cam+</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
              <!-- <i class='bx bx-search' ></i> -->
             <!-- <input type="text" placeholder="Search...">
             <span class="tooltip">Search</span> -->
          </li>
          <li>
            <a href="{{url_for('clubadmin')}}">
              <i class="bi bi-people-fill"></i>
              <span class="links_name">Club Admin</span>
            </a>
             <span class="tooltip">Club Admin</span>
          </li>
          <li>
            <a href="{{url_for('createvent')}}">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Create Event</span>
            </a>
             <span class="tooltip">Create Event</span>
          </li>
          <li>
           <a href="{{url_for('home')}}">
             <i class='bx bx-user' ></i>
             <span class="links_name">Home</span>
           </a>
           <span class="tooltip">Home</span>
         </li>
         <li>
          <a href="{{url_for('rewards')}}">
            <i class='bx bx-cart-alt' ></i>
            <span class="links_name">Rewards</span>
          </a>
          <span class="tooltip">Rewards</span>
        </li>
         <li>
          
           <a href="{{url_for('viewevent')}}">
             <i class='bx bx-chat' ></i>
             <span class="links_name">View Events</span>
           </a>
           <span class="tooltip">View Events</span>
         </li>
         <li>
           <a href="{{url_for('payments')}}">
             <i class='bx bx-pie-chart-alt-2' ></i>
             <span class="links_name">Payments</span>
           </a>
           <span class="tooltip">Payments</span>
         </li>
         <li>
           <a href="{{url_for('news')}}">
             <i class="fi fi-rr-edit"></i>
             <span class="links_name">News</span>
           </a>
           <span class="tooltip">News</span>
         </li>
         <li>
           <a href="{{url_for('feedback')}}">
             <i class='bx bx-folder' ></i>
             <span class="links_name">Feedback</span>
           </a>
           <span class="tooltip">Feedback</span>
         </li>
         <!-- <li>
           <a href="#">
             <i class='bx bx-cart-alt' ></i>
             <span class="links_name">Order</span>
           </a>
           <span class="tooltip">Order</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-heart' ></i>
             <span class="links_name">Saved</span>
           </a>
           <span class="tooltip">Saved</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cog' ></i>
             <span class="links_name">Setting</span>
           </a>
           <span class="tooltip">Setting</span>
         </li>
         <li class="profile">
             
             <i class='bx bx-log-out' id="log_out" ></i>
         </li> -->
         <li>
          <a href="{{url_for('createClub')}}">
            <i class="bi bi-plus"></i>
            <span class="links_name">Create Club</span>
          </a>
          <span class="tooltip">Create Club</span>
        </li>
         <li>
          <a href="{{url_for('logout')}}">
            <i class='bx bx-log-out' id='log_out'></i>
            <span class="links_name">Log Out</span>
          </a>
          <span class="tooltip">Log Out</span>
        </li>
        </ul>
      </div>
      <script src="../static/js/script1.js"></script>

    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Club registration  Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Club Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Club Admin</label>
                            <input type="text" placeholder="Enter admin name" required>
                        </div>

                      
                        <div class="input-field">
                            <label>Number of members</label>
                            <input type="number" placeholder="Enter number of members" required>
                        </div>

                        <div class="input-field">
                            <label>Club type</label>
                            <select required>
                                <option disabled selected>Select Type</option>
                                <option>Technical</option>
                                <option>Enterteinment</option>
                                <option>Others</option>
                            </select>
                        </div>

                      
                    </div>
                </div>

                <div class="pain">
                    <span class="title">Describe Your Club </span>

                   

                        <div class="input-field">
                            <!-- <label>Club description</label> -->
                            <!-- <input type="textarea" placeholder="description" required> -->
                            <textarea name="" id="" cols="70" rows="8"></textarea>
                        </div>

                     
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Register Club</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            
            </div>
        </form>
    </div>

    
</body>
</html>