<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
    <title>Cam[PLUS]</title>
    <link rel="icon" href="../static/images/Cam[PLUS].png">
</head>
<body>
    <div class="hero">
        <div class="navbar">
            <img src="../static/images/101800823_padded_logo-removebg-preview.png" class="logo">
            <!-- <a href="#"><button class="button">Sign up</button></a> -->
        </div>
        <div class="content">
            <small>Welcome To Your</small>
            <h1> Own<br>New World</h1>
            <a href="{{url_for('login')}}"><button style="font-weight: bold; font-size:medium; border: 3px solid white;">Log In</button></a>
        </div>
    </div>
</body>
</html>